# Renseigné puis renommé en variables.nix par le script d'install - ne pas modifier à la main
{
  username        = "@@USERNAME@@";
  usernameDisplay = "@@USERNAME_DISPLAY@@";
  hashedPassword  = "@@HASHED_PASSWORD@@";
  hostname        = "@@HOSTNAME@@"; # Define your hostname.
  nixosVersion    = "@@NIXOS_VERSION@@";  # à adapter à la version NixOS
  gitUsername     = "@@GIT_USERNAME@@";
  gitUsermail     = "@@GIT_USERMAIL@@";
}
